{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <h4>Login</h4>
  <form method="post">
    <div class="input-field">
      <input id="username" name="username" type="text" required>
      <label for="username">Username</label>
    </div>
    <div class="input-field">
      <input id="password" name="password" type="password" required>
      <label for="password">Password</label>
    </div>
    {% if error %}
      <span class="red-text">{{ error }}</span>
    {% endif %}
    <button class="btn waves-effect waves-light" type="submit">Login</button>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
  </form>
{% endblock %}
